<div class="row row-eq-height">
  <div class="col-md-4">
      <h2><%- title %></h2>
  </div>
  <div class="col-md-6">
    <a href="/members/new"><button class="btn btn-primary pull-right">Crear nuevo</button></a>
  </div>
</div>
<% if(members.length) { %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Folio</th>
        <th>Tipo credencial</th>
        <th>Domicilio</th>
      </tr>
    </thead>
    <tbody>
      <% members.forEach((member)=> {%>
      <tr class="active">
      <th scope="row"><%- member._id %></th>
      <td><a href="<%- '/members/' + member._id%>"><%- member.name %></a></td>
      <td><%- member.requestNumber %></td>
      <td><%- member.credentialTypeID %></td>
      <td><%- member.address %></td>
    </tr>
      <% });%>
  </tbody>
</table>
<%}else{%>
        <div>No members found</div>
<%}%>
