<h1>
  <%- title %>
</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Nombre</th>
      <th>Folio</th>
      <th>Tipo credencial</th>
      <th>Domicilio</th>
    </tr>
  </thead>
  <tbody>
    <% if(members.length) {%>
      <tr class="active">
        <%switch(members){
          case ((members instanceof Error) === true): %>
            <td>Error: <%= members %><td>
          <%break;
          case (members.length === 0): %>
            <td>No members found</td>
          <%break;
            default:
             members.forEach((member)=> {%>
              <th scope="row"><%- member._id %></th>
              <td><%- member.name %></td>
              <td><%- member.requestNumber %></td>
              <td><%- member.credentialTypeID %></td>
              <td><%- member.address %></td>
              <% });
            }%>
      </tr>
      <%}else{%>
            <div>No members found</div>
          <%}%>
  </tbody>
</table>
