<h1><%- title %></h1>
<% if (message) {%>
  <div class="alert alert-success alert-dismissable fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong><%- message %></strong>
  </div>
<%}%>
<div class="jumbotron">
  <div class="container">
    <ul class="list-group">
        <li class="list-group-item"><b>Dirección</b> <%- member.address %></li>
        <li class="list-group-item"><b>Teléfono</b> <%- member.phone %></li>
        <li class="list-group-item"><b>Tipo de credencial</b> <%- member.credentialTypeID %></li>
        <li class="list-group-item"><b>ID de credencial</b> <%- member.credentialNumber %></li>
        <li class="list-group-item"><b>Número de folio</b> <%- member.requestNumber %></li>
        <li class="list-group-item"><b>Fecha de Nacimiento</b> <%- member.birthDate %></li>
        <li class="list-group-item"><b>Lugar de nacimiento</b> <%- member.birthPlace %></li>
        <li class="list-group-item"><b>Ocupación</b> <%- member.ocupation %></li>
        <li class="list-group-item"><b>Fecha de inscripción</b> <%- member.inscriptionDate %></li>
    </ul>
  </div>
</div>
